html {
  background-color: gainsboro;
}
header {
  background-color: darkkhaki;
}

main {
  background-color: cornsilk;
}

body {
  font-size: 18px;
  color: blue;
  margin: 1em;
}

.param-choices {
  margin: 1em;
}

.graph-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-container {
  display: flex;
  align-items: flex-end;
  width: 75vw;
  height:75vh;
  border-style: solid;
  border-color: black;
  background-color: blueviolet;
  margin: 1em;
}

.bar {
  background-color: chartreuse;
  border-style: dotted;
  width: 12vw;
  height: 40vh;
  margin: 7px;

}
